*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
<<<<<<< Updated upstream
  width: 900px;
=======
  width: 750px;
>>>>>>> Stashed changes
  margin: auto;
  border: 3px solid black;
  height:  500%;
}

.first{
<<<<<<< Updated upstream
   background-color:white;
=======
   background-color:lightgrey;
>>>>>>> Stashed changes
   height: 50px;
   width: 100%;
   margin-top: 10px;
   }
   a{
     text-decoration: none;
     color: black
   }
<<<<<<< Updated upstream
.search{
  text-align: center;
}

.button{
     text-align: right;
=======

.righthead{
  width: 50%;
  height: 50px;
  float: right;
 background-color: pink;
}


.search{
  text-align: center;
  margin-right: 200px;
   display: inline-block;
   padding: 0 10px;
}

.free{
  width: 40px; 
  text-align: center;
  margin-right: 200px;
  color: lightgreen;
   display: inline-block;
   padding: 0 10px;
   background-color: orange;
   float: right;
}
}
.login{
  text-align: center;
   display: inline-block;
   padding: 0 10px;
   background-color: white;
   float: right;
>>>>>>> Stashed changes
}

.second{
     background-color: white;
    /* height: 50px;*/
     width: 100%
   }
img{
  width: 10%;
  height: 10%;
<<<<<<< Updated upstream
  margin-top: 10px;
=======
  margin-top: 20px;
>>>>>>> Stashed changes
  margin-bottom: 10px;
  margin-left: 10px;
}


.container ul{
  text-align: right;
}
.container li{
  display: inline-block;
  padding: 0 10px;
<<<<<<< Updated upstream
=======
   color: blue;
  margin-bottom: 20px;
>>>>>>> Stashed changes
}



<<<<<<< Updated upstream
.third{
  background-color: blue;
=======

.third{
  background-color: darkblue;
>>>>>>> Stashed changes
  /*height: 80px;*/
  width: 100%;
background: rgb(1, 1, 0, );
}

<<<<<<< Updated upstream
p{
  color: white;
=======
.join{
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
>>>>>>> Stashed changes
}

.ytlink{
  color: white;
<<<<<<< Updated upstream
=======
  text-decoration: underline;
>>>>>>> Stashed changes
}



/*         finish header        */
section#menu{
    background-color: orange;
<<<<<<< Updated upstream
  height: 500px;
=======
/*  height: 500px;*/
>>>>>>> Stashed changes
  width: 100%;
}

.parag{

  width: 40%;
}

h1{
  font-size: 50px;
}
.text{
  color: black;
}
.get{
  width: 100%;
  height: 50px;
<<<<<<< Updated upstream

}
.two{
      background-color: grey;
       height: 600px;
       width: 100%;
}
=======
  colo

}
.two{
      background-color: lightgrey;
      height: 600px;
       width: 100%;
}

.ptwo{
  width: 30%;
  float: left;

}
.box {
    background-color: white;
    height: 300px;
    width: 250px;
      float: right;
    border: 1px solid black;
    padding: 30px;
    position: relative;
}
.pbox{
  color: black;

}
h2{
  font-size: 15px;
}

.boxbutton{
  background-color: orange;
  width: 200px;
  text-align:center;

}
.boxnd{
  background-color: white;
  height: 300px;
  width: 243px;
    float: left;
  border: 1px solid black;
  padding: 30px;
  position: relative;

}

>>>>>>> Stashed changes
.three{
  background-color: lightgreen;
  height: 500px;
  width: 100%;
}

.four{
  background-color: white;
  height: 600px;
  width: 100%;
}
footer{
  background-color: blue;
  height: 80px;
  width: 100%
}
