*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  display:table;
  content:"";
  clear:both;
}

.container{
  width: 750px;
  margin: auto;
  border: 3px solid black;
  height:  100%;
}

.first{
   background-color:lightgrey;
   /*height: 50px;*/
  /* width: 100%;*/
   margin-top: 15px;

   }
   a{
     text-decoration: none;
     color: black;

     margin-top: 10px;
     margin-bottom: 10px;
   }

.righthead{
  /*width: 50%;*/
  /*height: 50px;*/
  float: right;
 background-color: lightgrey;
}


.search{
  text-align: center;
  margin-right: 200px;
   display: inline-block;
   padding: 0 10px;
}

.free{
  text-align: center;
   display: inline-block;
   background-color: orange;
   float: right;
}
.login{
  text-align: center;
   display: inline-block;
   padding: 0 10px;
   background-color: white;
   float: left;
}

.second{
     background-color: white;
    /* height: 50px;*/
     width: 100%
   }
img{
  width: 10%;
  height: 10%;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
}


.container ul{
  text-align: right;
}
.container li{
  display: inline-block;
  padding: 0 10px;
   color: blue;
  margin-bottom: 20px;
}




.third{
  background-color: darkblue;
  /*height: 80px;*/
  width: 100%;
background: rgb(1, 1, 0, );
}

.join{
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ytlink{
  color: white;
  text-decoration: underline;
}



/*         finish header        */
section#menu{
    background-color: orange;
/*  height: 500px;*/
  width: 100%;
}

.parag{

  width: 40%;
}

h1{
  font-size: 50px;
}
.text{
  color: black;
}
.get{
  width: 100%;
  height: 50px;
  colo

}
.two{
      background-color: lightgrey;
     height: 600px;
       width: 100%;
}

.ptwo{
  width: 30%;
  float: left;
  margin-left: 20px;

}
.box {
    background-color: white;
    height: 300px;
    width: 250px;
      float: right;
    border: 1px solid black;
    padding: 30px;
    position: relative;
}
.pbox{
  color: black;

}
h2{
  font-size: 15px;
}

.boxbutton{
  background-color: orange;
  width: 200px;
  text-align:center;

}
.boxnd{
  background-color: white;
  height: 300px;
  width: 243px;
    float: left;
  border: 1px solid black;
  padding: 30px;
  position: relative;

}

.three{
  background-color: #fff;
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  /*height: 800px;*/
  width: 100%;
}
.pthree{
 text-align: center;
 margin-left: 150px;
 margin-right: 150px;
 margin-top: 70px;
 margin-bottom: 30px;
 color: white;

}

h2{
  font-size: 20px;
}

.boxrd{
  height: 250px;
  width: 220px;
  border: 1px solid white;
  padding: 30px;
  position: relative;
  float: left;


}

.fa-handshake{
  font-size: 50px;
 color: white;
}
.number{
  font-size: 70px;
  color: white;
  float: left;
}

p{
  color: white;
  text-align: center;
}

.fa-globe-americas{
  color: white;
  font-size: 50px;
  text-align: center;
}

.numbers{
  text-align: center;
  font-size: 70px;
  color: white;
}





.four{
  background-color: white;
  height: 600px;
  width: 100%;
}

.fleft{
  height: 500px;
  width: 40%;
  background color: white;
  float: left;

}


.fbody{
  color black;
  margin-top: 50px;
  font-size: 50px;
  margin-left: 30px;

}


.paragfour{
  margin-left: 30px;
  
}
.ptitle{
  margin-top: 90px;
  margin-left: 30px;
}


.hubott{
  background-color: orange;
  color: white;

}













footer{
  background-color: blue;
  height: 80px;
  width: 100%
}
